* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #28223e;
  color: white;
  font-family: cursive;
}
.main-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 500px));
  grid-gap: 50px;
  justify-content: space-around;
}
.container {
  position: relative;
  height: 400px;
  width: 300px;
  margin: 2.5rem auto;
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #322d47;
  border-radius: 20px;
}
.name {
  color: white;
  margin: 10px;
}

.Bio {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 50%;
  /* background-color: aqua; */
}
.Bio img {
  /* display: none; */
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  transition: all ease 0.8s;
}
.container img:hover {
  scale: 1.2;
}
ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
ul li {
  list-style: none;
  letter-spacing: 1px;
  background-color: transparent;
  border: 1px solid rgb(90, 90, 90);
  color: white;
  margin: 0.2rem 0.2rem;
  font-size: smaller;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
li:hover {
  border: 1px solid cyan;
}
/* Social media handle */
.socialmedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Icons */
.icons {
  display: flex;
  bottom: 1rem;
  position: absolute;
}
.fa {
  margin: 0.5rem 0.5rem;
  cursor: pointer;
  font-size: 20px;
  /* color: white; */
}
.fa-youtube-play {
  color: rgb(255, 0, 0);
}
.fa-facebook {
  color: rgb(107, 107, 238);
}
.fa-twitter {
  color: rgb(7, 112, 153);
}
.fa-instagram {
  color: rgb(255, 0, 0);
}
.fa-github {
  color: black;
}

/* skills */

.skill {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: smaller;
}
.btn {
  position: absolute;
  float: left;
  left: 2rem;
  bottom: 10rem;
}

@media only screen and (max-width: 430px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
